{% extends "layout.twig" %}

{% block content %}

    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            <form method="POST" action="/login">
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" class="form-control">
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>

            {% if error %}
                <div class="alert alert-warning">
                    Incorrect password. Try again.
                </div>
            {% endif %}

            <p class="text-center text-muted">
                <small>commander version {{ version }}</small>
            </p>

        </div>
    </div>

{% endblock %}