<script src="/js/filter-form.js"></script>

<form class="filter-form form-inline">
    <div class="form-group">
        <input class="filter-string form-control" placeholder="Filter">
    </div>
</form>
