<ul class="nav nav-pills nav-stacked">

    <li><a class="btn-lg" href="/dashboard">
            <i class="fa fa-dashboard"></i> Dashboard
        </a>
    </li>

    <li><a class="btn-lg" href="/units">
            <i class="fa fa-laptop"></i> Units
        </a>
    </li>

    <li><a class="btn-lg" href="/tasks">
            <i class="fa fa-clock-o"></i> Tasks
        </a>
    </li>

    <li><a class="btn-lg" href="/logout">
            <i class="fa fa-arrow-right"></i> Logout
        </a>
    </li>

</ul>
