<div>

    <a class="btn btn-lg btn-link" href="/dashboard">
        <i class="fa fa-dashboard"></i> Dashboard
    </a>

    <br>

    <a class="btn btn-lg btn-link" href="/units">
        <i class="fa fa-laptop"></i> Units
    </a>

    <br>

    <a class="btn btn-lg btn-link" href="/tasks">
        <i class="fa fa-clock-o"></i> Tasks
    </a>

    <br>

    <a class="btn btn-lg btn-link" href="/logout">
        <i class="fa fa-arrow-right"></i> Logout
    </a>

</div>
