{% extends "card.twig" %}

{% block cardTitle %}
    {% if action == 'add' %}Add task{% endif %}
    {% if action == 'edit' %}Edit task{% endif %}
{% endblock %}

{% block cardContent %}

    {# ace #}
    <script src="/components/ace-builds/src-min-noconflict/ace.js"></script>

    <script src="/js/tasks-edit.js"></script>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <form id="form" method="POST" action="/task-save">

                {% if task.id %}
                    <p><strong>Task id:</strong> {{ task.id }}</p>
                {% endif %}

                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" class="form-control" value="{{ task.name }}">
                </div>

                {# Units group #}
                <fieldset>
                    <legend>Units</legend>

                    <label for="unit-select">Select unit:</label>
                    <div class="row">
                        <div class="col-md-10">
                            <select id="unit-select" name="unit-select" class="form-control"></select>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-success" id="add-unit"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>

                    <br>

                    <ul class="list-group" id="unit-list"></ul>

                </fieldset>

                {# Steps group #}
                <fieldset>
                    <legend>Steps</legend>

                    <label for="step-select">Select step type:</label>
                    <div class="row">
                        <div class="col-md-10">
                            <select id="step-select" name="step-select" class="form-control">
                                <option value="script">Script</option>
                                <option value="preset">Preset</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-success" id="add-step"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>

                    {# Step form #}
                    <div class="hidden" id="script-form">
                        <hr>

                        <div id="script-controls">
                            <p><strong>Script:</strong></p>
                            <div id="script-editor"></div>
                        </div>

                        <div id="preset-controls">
                            <div class="form-group">
                                <label for="preset-name">Preset name:</label>
                                <input type="text" name="preset-name" id="preset-name" class="form-control">
                            </div>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="breakOnError">
                                Break on error
                            </label>
                        </div>

                        <div class="text-right">
                            <button type="button" class="btn btn-success" id="save-script">Save</button>
                            <button type="button" class="btn btn-default" id="cancel-script">Cancel</button>
                        </div>

                        <hr>
                    </div>

                    <br>

                    <ul class="list-group" id="step-list"></ul>

                </fieldset>

                {# Hidden fields - fills with JS before submit #}
                <input type="hidden" name="task_id" value="{{ task.id }}">
                <input type="hidden" name="units">
                <input type="hidden" name="steps">

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="/tasks" class="btn btn-default">Cancel</a>
                </div>

            </form>

        </div>
    </div>

{% endblock %}
