{% extends "card.twig" %}

{% block cardTitle %}Task log{% endblock %}

{% block cardContent %}

    <p>
        <strong>Task:</strong>
        {{ task.name }}
    </p>

    <table class="table table-hover">
        <tr>
            <th>Date</th>
            <th>Run id</th>
        </tr>

        {% for run in runs %}
            <tr>
                <td>{{ run.date }}</td>
                <td><a href="/run/{{ run.id }}">{{ run.id }}</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
