{% extends "card.twig" %}

{% block cardTitle %}Task run{% endblock %}

{% block cardContent %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <table class="table table-hover">
                <tr>
                    <th>Task</th>
                    <th>{{ task.name }}</th>
                </tr>
                <tr>
                    <td>Run id</td>
                    <td><a href="/run/{{ runId }}">{{ runId }}</a></td>
                </tr>
            </table>

        </div>
    </div>

{% endblock %}