.control-buttons a{
    margin-right: 5px;
}

#script-editor {
    height: 20em;
    border: 1px #ccc solid;
}

.output-hidden {
    display: none;
}

.output-text p:hover {
    cursor: pointer;
    text-decoration: underline;
}
